<!DOCTYPE html>
<html>
<%- include('partials/header.ejs') %>
<body>
   <%- include('partials/navbar.ejs') %>
 
    <div class="container">
        
      <%  if(blogs.length == 0){ %>
        <h1>No Blogs</h1>

      <%  }else{ %>

        <% blogs.forEach((blog)=>{ %>
        <div class="card">
            <div class="card-title" > <%- blog.title %></div>
            <div class="card-subtitle"><%- blog.subtitle %></div>
            <div class="card-description"><%- blog.description %></div>
            <a href="/single/<%- blog._id %>">Read More..</a>
        </div> 
    <%    })  %>  
    <% } %>
    </div>

    <%- include('partials/footer.ejs') %>)
</body>
</html>
